*{
    margin: 0 auto;
    padding: 0;
}

.font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* head */
nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.s1{
   color: white; 
}
.s2{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav li{
    color: white;
    list-style: none;
}
nav button{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    color: white;
    width: 160px;
    height: 44px;
    align-items: center;
}
/* banner */
.banner{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 101px 0;
    gap: 8px;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    color: white;
    margin: 40px 0 8px;
    font-size: 60px;
    font-weight: 700;
}
.banner-content p{
margin: 0px 0px 24px;
color: white;
}
.btn2 #btn1{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    color: white;
    width: 160px;
    height: 44px;
}
.btn2 #btn2{
    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
    max-width: 147px;
    width: 100%;
    border-radius: 10000px;
    height: 44px;
}
.image{
    position: relative;
    
}
.image #img2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.image button{
    padding: 8px 16px;
    border-radius: 10000px;
    background-color: #00FF88;
    top: 10%;
    position: absolute;
    left: 80%;
  transform: translate(-50%,-50%);
}
/* about */
.about{
    background-color: #1A0B2E;
    padding: 50px 200px 0;
}
.about-info{
    color: white;
    text-align: center;
    margin-bottom: 160px;
}
.about-info h1{
font-size: 48px;
font-weight: bold;
margin-bottom: 16px;
}
.about-info p{
line-height: 20px;
}
.about-num{
    display: flex;
   padding-bottom: 120px;
}
.part{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 16px;
}
.span{
    color: #00FF88;
    font-size: 48px;
}
.techwaves{
    background-color: #230E3D;
    padding: 120px 200px;
    /* width: 100%; */
}
.techwaves h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

}
.content>div{
   border-radius: 40px; 
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   text-align: left;
   /* padding: 0 40px; */

   width: 100%;
}
.content1{grid-area: c1; background-color: #351165; }
.content2{grid-area: c2; background-color: #351165;}
.content3{grid-area: c3; background-color: #351165;}
.content4{grid-area: c4; background-color: #351165;}
.content5{grid-area: c5; background-color: #351165;}
.techwaves .content{
display: grid;
gap: 30px;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(150px,auto);
grid-template-areas:
"c1 c2 c2"
"c1 c3 c3"
"c4 c4 c5";
}
.feature{
    padding: 120px 200px 0;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
/* video  */
.box-video{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 30px;
    justify-content: center;
    /* width: 100%; */
}
.box-video>div{
    width: 100%;
    color: white;
}
#video1 , #video2 , #video3{
    border-radius: 30px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #250D44;
}
.feature-info h2{
    margin-bottom: 40px;
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.box-video .content{
    padding: 24px;
}
.box-video h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
/* host */
.host{
    margin-top: 120px;
    color: white;
   
}
.host h3{
     font-size: 48px;
    font-size: bold;
    text-align: center;
    margin-bottom: 40px;
}
#host-name{
 font-size: 32px;
 font-weight: bold;
}
.host #host-exp{
 font-size: 16px;
}
.host-info{
 background-color:#250D44;
   border-radius: 40px;
   display: flex;
   /* align-items: center; */
   padding: 48.5px 40px;
}
.host-info #img{
    margin-right: 24px;
}
#host-name, #host-exp {
    margin-bottom: 16px;
    line-height: 24px;
}
.host-info .icon{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;   
}
/* footer  */
footer{
    background-image: url(./assets/footer-bg.png);
    background-size: contain;
    background-position: bottom center;
    /* background-repeat: no-repeat; */
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    /* flex-direction:column; */
    /* align-items: center; */
    justify-content: center;
}
.ft-name{
    font-size: 80px;
    margin-bottom: 32px;
    font-weight: bold;
}
.ft-name #first{
    color: white;
}
.ft-name #second{
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ft-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft-content .icon{
    color: white;
    display: flex;
align-items: center;
gap: 40px;
margin-bottom: 32px;
}
.copy{
    color: white;
}