* {
    margin: 0 auto;
    padding: 0;
}

.font-style {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* head */
nav {
    background-color: #1A0B2E;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    box-sizing: border-box;
}

nav img {
    display: none;
}

.s1 {
    color: white;
}

.s2 {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav li {
    color: white;
    list-style: none;
}

nav button {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    color: white;
    width: 160px;
    height: 44px;
    align-items: center;
}

/* banner */
.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 101px 0;
    box-sizing: border-box;
    gap: 8px;
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) translateX(0);
    }

    25% {
        transform: translate(-50%, -50%) translateX(-5px);
    }

    50% {
        transform: translate(-50%, -50%) translateX(5px);
    }

    75% {
        transform: translate(-50%, -50%) translateX(-5px);
    }

    100% {
        transform: translate(-50%, -50%) translateX(0);
    }
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08); /* ৮% বড় হবে */
    }
    100% {
        transform: scale(1);
    }
}
.banner-content {
    text-align: center;
}

.banner-content h1 {
    color: white;
    margin: 40px 0 8px;
    font-size: 60px;
    font-weight: 700;
}

.banner-content p {
    margin: 0px 0px 24px;
    color: white;
}

.btn2 #btn1 {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    color: white;
    width: 160px;
    height: 44px;
    animation: grow 2s infinite ease-in-out;
    transition: transform 0.3s ease;
}
.btn2 #btn2 {
    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
    max-width: 147px;
    width: 100%;
    border-radius: 10000px;
    height: 44px;
}

.image {
    position: relative;

}

.image #img2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image button {
    padding: 8px 16px;
    border-radius: 10000px;
    background-color: #00FF88;
    top: 10%;
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: shake 2s infinite;
}

/* about */
.about {
    background-color: #1A0B2E;
    padding: 50px 200px 0;
}

.about-info {
    color: white;
    text-align: center;
    margin-bottom: 160px;
}

.about-info h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-info p {
    line-height: 20px;
}

.about-num {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 120px;
}

.part {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 16px;
}

.span {
    color: #00FF88;
    font-size: 48px;
}

.techwaves {
    background-color: #230E3D;
    padding: 120px 200px;
    /* width: 100%; */
}

.techwaves h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

}

.content>div {
    border-radius: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    /* padding: 0 40px; */

    width: 100%;
}

.content1 {
    grid-area: c1;
    background-color: #351165;
}

.content2 {
    grid-area: c2;
    background-color: #351165;
}

.content3 {
    grid-area: c3;
    background-color: #351165;
}

.content4 {
    grid-area: c4;
    background-color: #351165;
}

.content5 {
    grid-area: c5;
    background-color: #351165;
}

.techwaves .content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(150px,auto); */
    grid-template-areas:
        "c1 c2 c2"
        "c1 c3 c3"
        "c4 c4 c5";
}

.feature {
    padding: 120px 200px 120px;
    background-color: #1A0B2E;
}

/* video  */
.box-video {
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 30px;
    justify-content: center;
    /* width: 100%; */
}

#video1,
#video2,
#video3 {
    color: white;
    border-radius: 30px;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    background-color: #250D44;
}

.feature-info h2 {
    margin-bottom: 40px;
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.box-video .content {
    padding: 24px;
}

.box-video h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* host */
.host {
    margin-top: 120px;
    color: white;

}

.host h3 {
    font-size: 48px;
    font-size: bold;
    text-align: center;
    margin-bottom: 40px;
}

#host-name {
    font-size: 32px;
    font-weight: bold;
}

.host #host-exp {
    font-size: 16px;
}

.host-info {
    background-color: #250D44;
    border-radius: 40px;
    display: flex;
    /* align-items: center; */
    padding: 48.5px 40px;
}

.host-info #img {
    /* margin-right: 24px; */
}

#host-name,
#host-exp {
    margin-bottom: 16px;
    line-height: 24px;
}

.host-info .icon {
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
}

/* footer  */
.ft-content {
    background-image: url(./assets/footer-bg.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
    margin-top: -120px;
}

.ft-name {
    font-size: 80px;
    margin-bottom: 32px;
    font-weight: bold;
}

.ft-name #first {
    color: white;
}

.ft-name #second {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ft-content .icon {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-bottom: 32px; */
}

.copy {
    color: white;
    margin-top: 16px;
}

/* responsive */
@media screen and (max-width:600px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    nav ul,
    .btn {
        display: none;
        width: 100%;
    }

    nav img {
        display: block;
    }

    .banner {
        /* width: 100%; */
        background-position: content;
        /* background-repeat: no-repeat; */
        /* width: 50%; height: 50%; */
        /* margin: 0;  */
    }

    .banner-content {
        /* width: 200px; height: 200px; */
    }

    .banner-content .image img {
        background-size: contain;
        background-position: center;
        width: 50%;
        height: 50%;
    }

    .banner-content .image #img2 {
        width: 20%;
        height: 50%;
    }

    .about {
        padding: 40px 20px;

    }

    .about-num {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 20px;
    }

    .techwaves {
        padding: 40px 20px 20px;
    }

    .techwaves .content {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "c1"
            "c2"
            "c3"
            "c4"
            "c5";
    }

    .techwaves .content>div {
        padding: 24px;
        box-sizing: border-box;
    }

    .box-video {
        flex-direction: column;
        box-sizing: border-box;
    }

    .box-video {
        display: flex;
        /* grid-template-columns: repeat(3,1fr); */
        gap: 30px;
        justify-content: center;
        /* width: 100%; */
    }

    #video1,
    #video2,
    #video3 {
        color: white;
        border-radius: 30px;
        /* border: 1px solid red; */
        /* overflow: hidden; */
        background-color: #250D44;
    }

    #video1 iframe,
    #video2 iframe,
    #video3 iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }

    .feature {
        padding: 40px 20px 0;
    }

    .host-info {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .host-info>div {
        margin-bottom: 40px;
    }

    .feature {
        padding-bottom: 40px;
    }

    .ft-content {
        background-size: cover;
        /* font-size: 50%; */
        text-align: center;
        margin-top: 0;
    }

    .ft-name {
        font-size: 60px;
    }

    .ft-content .icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* margin-bottom: 32px; */
    }
}